.msg {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    margin-top:-20px;
    z-index: 99;
    background-color: #02D1AE;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.container{
    text-align: center;
}

.label-msg {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.login-btn{
    margin-top:50px
}

.exit-msg {
    text-align: center;
    margin-top:50%;
}

.exit-msg-text{
    margin-bottom:30px;
}

.modal-container{
    text-align: center;
}