.msg {
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 60px;
    z-index: 99;
    background-color: #3880fe;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.day-0 {
    --background: #F7E2BC!important;
}

.day-1 {
    --background: #4FE4F3!important;
}
