.msg {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    margin-top:-20px;
    z-index: 99;
    background-color: #02D1AE;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.container{
    text-align: center;
}

.label-msg {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.modal-container{
    text-align: center;
    margin:30% 0;
}

.price-input {
    font-size: 3em;
}

.button-label {
    text-transform: none;
    padding-left: 10px;
}

.hidden {
    display: none;
}